name: verify

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up build deps
        run: sudo apt-get update && sudo apt-get install -y g++ make python3
      - name: Run verify
        run: |
          ./verify.sh
